@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-dm-sans: var(--font-dm-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

@layer base {
  h1 {
    @apply font-poppins lg:text-[62px] md:text-[42px] text-[24px] text-[#1A1A1A] font-medium leading-[72px] tracking-[0px];
  }

  h2 {
    @apply font-poppins lg:text-[42px] md:text-[32px] text-[24px] text-[#1A1A1A] font-medium leading-[100%] tracking-[0px];
  }

  h3 {
    @apply font-poppins lg:text-[38px] md:text-[28px] text-[24px] text-[#1A1A1A] font-medium leading-[100%] tracking-[0px];
  }

  h4 {
    @apply font-poppins lg:text-[32px] md:text-[24px] text-[20px] text-[#1A1A1A] font-medium leading-[100%] tracking-[0px];
  }

  h5 {
    @apply font-poppins lg:text-[28px] md:text-[24px] text-[20px] text-[#1A1A1A] font-medium leading-[100%] tracking-[0px];
  }

  h6 {
    @apply font-poppins lg:text-[18px] md:text-[16px] text-[14px] text-[#1A1A1A] font-semibold leading-[140%] tracking-[0px];
  }

  .dm-sans-text {
    @apply font-dm-sans;
  }
}
